.main-content {
    background-color: #eeeeee;
    width: 100%;
    height: 100%;
}

.navbar-primary {
    background-color: #563d7c;
}
.navbar-primary a {
    color: white;
}

.profile-image {
    border-radius: 50%;
    border: #eeeeee solid thin;
    width: 80px;
    height: 80px;

}

.google-map-container {
    position: fixed;
    height: 75%;
}

.trip-list {
    position: fixed;
    height: 90%;
    overflow: scroll;
}